@use "../../styles/mixins";
.header {
    max-width: 1135px;
    width: 100%;
    display: flex;
    margin-bottom: 13px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: var(--main-bg-color);
    border-radius: 0 0 30px 30px;

    .headerWrapper {
        width: 100%;

        @include mixins.flex(row, space-between, center);
        padding: 15px 0;
    }
    .iconsContainer {
        margin-right: 25px;

        @include mixins.flex(row, flex-start, center, 45px);
    }
}

.logo {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 25px;
    color: #101010;
}
